.to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background: lightgray;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}