.contact {
    background: url(../../../images/contact-bg.jpg);
    backdrop-filter: brightness(70%);
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.contact-container {
    color: black;
    padding-left: 100px;
}